*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 30, 71, 0.831),rgba(4,9,30,0.7)),url(images/MESCET/banner.svg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


nav img {
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 10px;
    position: relative;
}
.nav-links ul li a{
    color:rgb(237, 237, 240);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    padding-top: 4rem;
}
.text-box h2{
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: rgb(233, 233, 233);
}
.text-box h3{
    margin: 10px;
    font-size: 14px;
    color: #939393b1;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #17174e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*---------course---------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.course .heading{
    margin:2rem 0rem;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
#poster{
    width:100%;
    max-width:300px;
}
.course-col .register{
    background: rgba(84, 0, 0, 0.886);
    color: white;
    font-weight: 600;
    padding:10px 15px;
    margin: 2rem 0rem;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}

/*----------askills section  --------*/

.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.benefits{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.benefits img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(4, 83, 202, 0.612);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------------process -----------*/
.process {
    height: auto;
    max-width: 100%;
    aspect-ratio: auto 1528 / 1080;
    width: 1528px;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
    display: flex;
    overflow: clip;
}

/*----------------- details about us---------------*/

.detailsAbout{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.aboutsection{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 9px;
    margin-right: 10%;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color:#f44336
}
@media(max-width: 700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*--------------call to action ----*/

.cta{
    margin: 100px;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 20px;
    }
    .text-box h2{
        font-size: 0.8rem;
        letter-spacing: 2px;
        color: rgb(233, 233, 233);
    }
    .text-box h3{
        margin: 10px;
        font-size: 12px;
        color: #939393b1;
    }
}

/*--------footer----------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

#bars{
    position: absolute;
    top: 0;
    left:-50px;
}